
.walls
  :markdown
    Shed is a side project about your side projects.
    You can find copies around Aberdeen but your best bet would be to try
    [offset57](http://www.offset57.co.uk/ "Offset57").
    It is unpredidictabily forged by Stewart Ainslie and Mark McAulay. Two
    members of the Aberdeen creative industry who really should know better but
    hey, what are you going to do eh?
    If you _really_ want one and cant find one anywhere or if you want us to
    interview you for a future Shed,
    [go right ahead and ask us on twitter](https://twitter.com/shedpeople) or
    risk never getting a reply by emailing us at
    [tools.shed.io](mailto:tools@shed.io).
  include _identity
