!!!
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Shed is a side project by Stewart Ainslie and Mark McAulay investigating your side projects')
    meta(name='author', content="mcaulay")

    title= title

    link(rel='stylesheet', href='css/master.css')
    link(rel='stylesheet', href='http://fast.fonts.net/cssapi/37abf53e-8abe-460e-a1a0-878e204644ae.css')
  body
    != content

    //- add other scripts through require.js, not here
    script(data-main="js/main", src="js/require.js")

    //- this must be included for live reload to work in developement
    //- it will be automatically ignored when deployed
    != livereload
