@import '_settings'

normalize()
base()

body
  background-image: url("/img/noise.png")

.walls
  font-size: 125%
  line-height: 140%
  margin: 50px auto
  width: 90%
  @media screen and (min-width: 720px)
    max-width: 1024px
  img
    display: block
    margin: 50px auto
  p
    //border:1px solid red
    margin-top: 0
    margin-bottom: .5em
    text-indent: 2em
    &:first-child
      text-indent: 0
      color: red

a
  color: black
