@import '_settings'

normalize()
base()

body
  background: rgb(253, 231, 0) url("/img/noise.png")
.walls
  font-size: 125%
  line-height: 140%
  margin: 50px auto
  width: 90%
  @media screen and (min-width: 720px)
    max-width: 1024px
  h1
    color: rgb(237, 28, 36)
    display: block
    fs: 125%
  p
    margin-top: 0
    margin-bottom: .5em
    text-indent: 2em
    color: rgb(13, 154, 72)
    &:first-child
      text-indent: 0
      color: rgb(237, 28, 36)
  a
    color: rgb(253, 231, 0)
    background: rgb(13, 154, 72)
    padding: 0 2px
    text-decoration: none
    &:hover
      background: rgb(237, 28, 36)
  img
    display: block
    margin: 50px auto

